h1 Oops! Something went wrong
if helperMessage
  h1 hey, remember you're using arrays so just go back &nbsp;
    a(href="/") home
    &nbsp; - see if that fixes it
=message
div= error.status
p= error.stack