<!DOCTYPE html>
<html>
  <head>
    <title>Interview App</title>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav>
        <a href="/interviews">Interviews</a>
        <a href="/interviews/new">New Interview</a>
      </nav>
    </header>
    <%- body %>
  </body>
</html>
